.home-header-container{
    height: 60px;
    width: 100%;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    

    .home-header-content{
        height: 100%;
        width: 100%;
        display: flex;

        .left-content{
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo{
                background: url('../../assets/logo.png');
                height: 100%;
                width: 83%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                margin: 0 auto;
            }
            
            i{
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }
        .center-content{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content{
                .subs-title{
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
        .right-content{
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .support{
                // padding-right: 50px;
                margin-right: 55px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i{
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .language-vi{
                cursor: pointer;
                opacity: 0.3;

                &.active{
                    opacity: 1;
                    color: orange;
                }

                &:hover{
                    opacity: 1;
                    color: orange;
                }
            }
            .language-en{
                margin: 0 10px;
                cursor: pointer;
                opacity: 0.3;

                &.active{
                    opacity: 1;
                    color: blue;
                }

                &:hover{
                    opacity: 1;
                    color: blue;
                }
            }
        }
    }
}

.home-header-banner{
    background: url('../../assets/bannerupdate.png');
    // background: url('../../assets/banner.png');
    height: 454px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up{
        // background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(225, 225, 225, 0.1) );
        // rgb(42 33 33 / 25%), rgb(181 174 174 / 10%)) rgba(126, 126, 126, 0.25), rgba(225, 225, 225, 0.1)

        height: 65%;
        padding-top: 15px;

        .title1{
            text-align: center;
            font-size: 35px;
            text-shadow: 2px 2px 2px #333;
            // color: white;
            color: #002af9;
            padding-top: 20px;
        }
    
        .title2{
            text-align: center;
            font-size: 35px;
            text-shadow: 2px 2px 2px #333;
            color: white;
            padding-top: 10px;
            margin-bottom: 66px;
        }
    
        .search{
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 25px;
            // background-color: #a9ffac;
            background-color: #dbdbdb;
            margin: 0 auto;
            cursor: pointer;
            margin-top: 129px;
            i{
                margin: 0 5px;
                padding-right: 10px;
            }
    
            input{
                height: 30px;
                width: 300px;
                background: transparent;
                border: none;
                outline: none;
                font-size: 20px;
            }
        }
    }

    .content-down{
        background-image: linear-gradient(rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0.9), rgba(225, 225, 225, 1));
        height: 35%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;

        .options{
            text-align: center;
            display: flex;
            gap: 50px;
            justify-content: center;

            .option-child{
                width: 100px;

                .icon-child{
                    background: white;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                    cursor: pointer;

                    i{
                        color: #49bce2;
                        font-size: 20px;
                    }
                }

                .text-child{
                    font-size: 17px;
                    font-weight: 500;

                    &:hover{
                        color: #49bce2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}